<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">

        <div class="grid grid-cols-8 px-4 py-3">
            <!-- back icon -->
            <div class="col-span-1">
                <a href="./chat-selectContact.html">
                    <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
            <!-- name -->
            <div class="text-center bg-white col-span-6 rounded-xl drop-shadow-md py-2">
                <h1 class="cs-font-title text-xs text-cs-black truncate">Sarah Baradi</h1>
                <h1 class="cs-font-body text-cs-gray text-xs truncate">Electric Manager</h1>
            </div>
            <!-- search -->
            <div class="col-span-1">
            </div>
            <!-- end search -->
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="container px-4">

        <div class="grid  gap-4 content-end pt-20 pb-20">
            <!-- caption -->
            <div class="flex justify-center">
                <h1 class="cs-font-caption text-center rounded-full border text-cs-gray py-1 px-2"> 9 jan 2023</h1>
            </div>
            <!-- chat 1 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-6">
                        <div class="bg-slate-100 rounded-t-xl rounded-br-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 1 -->

            <!-- chat 2 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-2"></div>
                    <div class="col-span-6">
                        <div class="bg-white  drop-shadow-md rounded-t-xl rounded-bl-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 2 -->

            <!-- chat 3 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-6">
                        <div class="bg-slate-100 rounded-t-xl rounded-br-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 3 -->

            <!-- caption -->
            <div class="flex justify-center">
                <h1 class="cs-font-caption text-center rounded-full border text-cs-gray py-1 px-2"> Today</h1>
            </div>

            <!-- chat 4 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-2"></div>
                    <div class="col-span-6">
                        <div class="bg-white  drop-shadow-md rounded-t-xl rounded-bl-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 4 -->

            <!-- chat 5 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-6">
                        <div class="bg-slate-100 rounded-t-xl rounded-br-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 5 -->

            <!-- chat 6 -->
            <div>
                <div class="grid grid-cols-8">
                    <div class="col-span-2"></div>
                    <div class="col-span-6">
                        <div class="bg-white  drop-shadow-md rounded-t-xl rounded-bl-xl p-3 cs-font-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat magna justo, eu
                            consequat turpis posuere at. Sed lacinia mi nisl, et molestie enim sodales sed.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat 6 -->
    </section>
    <!-- ========= end Main ========= -->

    <!-- ========= Footer ========= -->
    <section class=" fixed z-10 bottom-0">
        <div class="border-t w-screen bg-white">
            <div class="px-4 py-2">
                <div class="grid grid-cols-8">
                    <input type="text" name="" id=""
                        class="col-span-7 bg-slate-100 py-2 rounded-full cs-font-body px-2">
                    <div class="my-auto mx-auto cursor-pointer">
                        <i class="fa-solid fa-paper-plane-top p-2 bg-cs-primary rounded-full text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========= end Footer ========= -->

</body>

</html>