<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="px-4 py-3">
            <a href="./index.html">
                <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
            </a>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="pt-16 container px-4 space-y-6 pb-36">
        <!-- title -->
        <div>
            <h1 class="cs-font-headline2 tracking-tight text-cs-black">What's News</h1>
        </div>
        <!-- end title -->

        <!-- Card -->
        <section class="space-y-3">

            <!-- news 1 -->
            <div>
                <a href="./news-list-detail.html">
                    <div class="p-2 bg-white drop-shadow rounded-xl">
                        <img src="https://images.pexels.com/photos/2920064/pexels-photo-2920064.jpeg?auto=compress&cs=tinysrgb&w=1200"
                            alt="" class="rounded-md w-full aspect-video object-cover">
                        <div class="space-y-1 py-4">
                            <h1 class="cs-font-caption text-cs-gray">07 July - 30 June 2023</h1>
                            <h1 class="cs-font-title">Briefing Security - Regulasi Covid Terbaru</h1>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end news 1 -->


            <!-- news 2 -->
            <div>
                <a href="./news-list-detail.html">
                    <div class="p-2 bg-white drop-shadow rounded-xl">
                        <img src="https://images.pexels.com/photos/2920064/pexels-photo-2920064.jpeg?auto=compress&cs=tinysrgb&w=1200"
                            alt="" class="rounded-md w-full aspect-video object-cover">
                        <div class="space-y-1 py-4">
                            <h1 class="cs-font-caption text-cs-gray">07 July - 30 June 2023</h1>
                            <h1 class="cs-font-title">Briefing Security - Regulasi Covid Terbaru</h1>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end news 2 -->

        </section>
        <!-- end Card -->

    </section>
    <!-- ========= end Main ========= -->


</body>

</html>