<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="px-4 py-3">
            <a href="./news-list.html">
                <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
            </a>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="pt-16 container px-4 space-y-6 pb-20">

        <!-- img -->
        <div>
            <img src="https://images.pexels.com/photos/2920064/pexels-photo-2920064.jpeg?auto=compress&cs=tinysrgb&w=1200"
                alt="" class="aspect-video object-cover w-full rounded-xl">
        </div>
        <!-- end img -->

        <!-- title -->
        <div class="space-y-2">
            <div class="flex">
                <h1 class="px-3 py-2 cs-font-caption rounded-full bg-cs-primary text-cs-black">07 July - 30 June 2023
                </h1>
            </div>
            <h1 class="cs-font-headline2">Briefing Security - Regulasi Covid Terbaru</h1>
        </div>
        <!-- end title -->

        <!-- description -->
        <div>
            <h1 class="cs-font-body text-cs-gray tracking-wide leading-relaxed">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non dolor eros. Nullam porttitor diam
                in placerat iaculis. In a lorem consectetur, viverra quam id, posuere risus. Cras nulla ante, blandit
                eget consectetur a, iaculis at eros. Quisque quis ipsum iaculis, malesuada nulla pellentesque, tempus
                sem. Duis quis ultricies sapien. Aliquam eget feugiat enim, a egestas justo. Morbi odio neque, ornare in
                malesuada a, volutpat a neque. <br> <br>

                Etiam pellentesque congue dignissim. Donec mattis ipsum ut tellus mattis semper. Duis porta tortor in
                lorem suscipit, eget efficitur libero elementum. Cras porttitor lorem sed vulputate fringilla. Cras
                elementum massa nec pulvinar posuere. In fermentum orci sit amet tellus tempor, nec gravida elit
                interdum. Phasellus posuere venenatis sem.
            </h1>
        </div>
        <!-- end description -->


    </section>
    <!-- ========= end Main ========= -->


</body>

</html>