<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
    <!-- ========= Main ========= -->
    <section class="pt-8 container px-4 space-y-3 pb-36">
        <!-- title -->
        <div>
            <h1 class="cs-font-headline2 tracking-tight text-cs-black">Notification</h1>
        </div>
        <!-- end title -->


        <!-- ==================================== -->
        <!-- ========= Complaint and Request ========= -->
        <!-- ==================================== -->

        <!-- complaint & request - departement -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Ada Complaint / Request Baru</h1>
                            <h1 class="cs-font-caption text-cs-gray">Ada Complaint/Request baru dan menunggu untuk
                                di-assign ke
                                departemen terkait.</h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request baru - departement -->


        <!-- complaint & request - staff -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Ada Complaint / Request Baru</h1>
                            <h1 class="cs-font-caption text-cs-gray">Ada Complaint / Request baru dan menunggu untuk
                                di-assign ke staff terkait.</h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request baru - staff -->


        <!-- complaint & request - menunggu untuk di proses -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Ada Complaint/Request Baru. Cek Sekarang!</h1>
                            <h1 class="cs-font-caption text-cs-gray">Ada Complaint/Request baru dan menunggu untuk
                                diproses.</h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - menunggu untuk di proses -->


        <!-- complaint & request - sedang di proses -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Complaint/Request Sedang Diproses.</h1>
                            <h1 class="cs-font-caption text-cs-gray"><span
                                    class="font-title text-xs text-cs-black">Izha</span> sedang memproses laporan
                                <span class="font-title text-xs text-cs-black">Toilet rusak</span>.
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - sedang di proses -->


        <!-- complaint & request - siap di inspect -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Complaint/Request Siap di-Inspect.</h1>
                            <h1 class="cs-font-caption text-cs-gray">Complaint/request
                                <span class="font-title text-xs text-cs-black">Toilet rusak</span> sudah selesai
                                dikerjakan oleh
                                <span class="font-title text-xs text-cs-black">Izha</span> dan menunggu untuk
                                di-Inspect.
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - siap di inspect -->


        <!-- complaint & request - selesai di inspect -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Complaint/Request Selesai di-Inspect</h1>
                            <h1 class="cs-font-caption text-cs-gray">Complaint/Request sudah selesai di-Inspect dan
                                menunggu di-Approve.
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - selesai di inspect -->


        <!-- complaint & request - di reject -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Pengerjaan Complain/Request di-Reject</h1>
                            <h1 class="cs-font-caption text-cs-gray">Complaint/Request <span
                                    class="font-title text-xs text-cs-black"> Toilet Rusak</span> yang Anda kerjakan
                                ditolak oleh atasan. Silakan diperiksa dan di-Complete kembali.
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - selesai di inspect -->


        <!-- complaint & request - sudah di approve -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Complaint/Request Sudah di-Approve</h1>
                            <h1 class="cs-font-caption text-cs-gray">Pengerjaan Complaint/Request <span
                                    class="font-title text-xs text-cs-black"> Toilet Rusak</span> sudah selesai
                                di-Approve
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - sudah di approve -->


        <!-- complaint & request - pengerjaan di reject -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Pengerjaan Complain/Request di-Reject</h1>
                            <h1 class="cs-font-caption text-cs-gray">Complaint/Request <span
                                    class="font-title text-xs text-cs-black"> Toilet Rusak</span> yang Anda kerjakan
                                ditolak. Silakan diperiksa dan di-Complete kembali
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-clipboard-user text-2xl py-1.5 rounded-full text-blue-500 px-3 bg-blue-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end complaint & request - pengerjaan di reject -->

        <!-- ==================================== -->
        <!-- ========= end Complaint and Request ========= -->
        <!-- ==================================== -->




        <!-- ==================================== -->
        <!-- ========= Work Order ========= -->
        <!-- ==================================== -->

        <!-- work order - ada internal work order -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Ada Internal Work Order Baru. Cek Sekarang!
                            </h1>
                            <h1 class="cs-font-caption text-cs-gray">Ada Internal Work Order terbaru untuk Anda kerjakan
                                dan menunggu untuk diproses</h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-file-lines text-2xl py-1.5 rounded-full text-yellow-500 px-3 bg-yellow-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end work order - ada internal work order -->

        <!-- work order - sedang di proses -->
        <div>
            <a href="#">
                <div class="p-4 bg-slate-50 rounded-xl">
                    <div class="grid grid-cols-6 gap-3">

                        <div class="col-span-5">
                            <h1 class="font-title text-cs-black text-sm">Internal Work Order Sedang Diproses</h1>
                            <h1 class="cs-font-caption text-cs-gray">
                                <span class="font-title text-xs text-cs-black">Izha</span> sedang memproses Internal
                                Work Order
                                <span class="font-title text-xs text-cs-black">AC Kotor</span>
                            </h1>
                        </div>
                        <!-- icon -->
                        <div class="col-span-1">
                            <div class=" flex justify-center">
                                <i
                                    class="fa-duotone fa-file-lines text-2xl py-1.5 rounded-full text-yellow-500 px-3 bg-yellow-100"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end work order - sedang di proses -->


        <!-- ==================================== -->
        <!-- ========= end Work Order ========= -->
        <!-- ==================================== -->





    </section>
    <!-- ========= end Main ========= -->

    <!-- ========= Footer ========= -->
    <section class="py-4 fixed bottom-0 w-full bg-white border-t">
        <div class="grid grid-cols-4">
            <!-- home -->
            <a href="./index.html" class="text-center my-auto">
                <i class="fa-regular fa-home "></i>
            </a>
            <!-- message -->
            <a href="./chat.html" class="text-center my-auto">
                <i class="fa-regular fa-message"></i>
            </a>
            <!-- notification -->
            <a href="./notification.html" class="text-center my-auto">
                <i class="fa-regular fa-bell p-2 bg-cs-primary text-cs-black  rounded-lg"></i>
            </a>
            <!-- others -->
            <a href="./others.html" class="text-center my-auto">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
        </div>
    </section>
    <!-- ========= end Footer ========= -->

</body>

</html>