<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="flex justify-between">
            <div class="px-4 py-3">
                <a href="./others.html">
                    <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
            <div class="px-4 py-3">
                <a href="#">
                    <i
                        class="fa-regular fa-file-exclamation text-cs-black px-2.5 rounded-full bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="pt-16 container px-4 space-y-6 pb-36">
        <!-- title -->
        <div>
            <h1 class="cs-font-headline2 tracking-tight text-cs-black">Profile</h1>
        </div>
        <!-- end title -->

        <section class="space-y-3">
            <!-- picture -->
            <div class=" bg-white drop-shadow-md border h-20 w-20 rounded-full flex">
                <img src="./media/img/lg-csn.png" alt="" class="w-full my-auto p-2 rounded-full object-cover">
            </div>
            <!-- name -->
            <div class="space-y-1">
                <h1 class="cs-font-caption text-cs-gray">Name</h1>
                <h1 class="cs-font-title">Syidh Al Rasyid</h1>
            </div>
            <!-- Division -->
            <div class="space-y-1">
                <h1 class="cs-font-caption text-cs-gray">Division</h1>
                <h1 class="cs-font-title">PM Electric</h1>
            </div>
        </section>


    </section>
    <!-- ========= end Main ========= -->


</body>

</html>