<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="relative">
        <img src="https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="" class="aspect-video w-full object-cover">
        <div class="absolute z-10 top-[10.625rem] px-4">
            <div class=" bg-white drop-shadow-md h-20 w-20 rounded-full flex">
                <img src="./media/img/lg-csn.png" alt="" class="w-full my-auto p-2 rounded-full object-cover">
            </div>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <section class=" space-y-4 pt-12 px-3">
        <!-- ========= Title & Name ========= -->
        <section class=" space-y-1">
            <h1 class="cs-font-headline2 text-cs-black">Syidh Al Rasyid</h1>
            <h1 class="cs-font-caption text-cs-gray">PM Electric</h1>
        </section>
        <!-- ========= end Title & Name ========= -->
        <!-- ========= Title & Name ========= -->
        <section class="space-y-2">
            <!-- Profile -->
            <div>
                <a href="./others-profile.html">
                    <div class="border p-4 rounded-lg">
                        <h1 class="cs-font-buttonHover">Profile</h1>
                    </div>
                </a>
            </div>
            <!-- Change Password -->
            <div>
                <a href="./others-changePassword.html">
                    <div class="border p-4 rounded-lg">
                        <h1 class="cs-font-buttonHover">Change Password</h1>
                    </div>
                </a>
            </div>
            <!-- Log Out -->
            <div x-data="{ open: false }">
                <div @click="open = true" class="cursor-pointer">
                    <div class="border p-4 rounded-lg">
                        <h1 class="cs-font-buttonHover text-red-500">Log Out</h1>
                    </div>
                </div>
                <!-- modal -->
                <div class="fixed h-screen w-screen top-0 left-0 z-20 backdrop-blur-sm" x-show="open" x-transition>
                    <div class="flex justify-center h-screen">
                        <div class="bg-white p-4 my-auto drop-shadow-md rounded-xl w-72 space-y-4">
                            <div class="space-y-1">
                                <h1 class="cs-font-title text-center">Log Out</h1>
                                <h1 class="cs-font-body text-center text-cs-gray">Are you sure want to log out?</h1>
                            </div>
                            <div class="grid grid-cols-2 gap-3">
                                <div class="cs-font-buttonNormal text-center my-auto text-cs-gray">YES</div>
                                <div @click="open = !open"
                                    class="cs-font-buttonNormal cursor-pointer text-center p-3 rounded-lg bg-cs-primary text-cs-black">
                                    NO</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end modal -->
            </div>
        </section>
        <!-- ========= end Title & Name ========= -->
    </section>



    <!-- ========= Footer ========= -->
    <section class="py-4 fixed bottom-0 w-full bg-white border-t">
        <div class="grid grid-cols-4">
            <a href="./index.html" class="text-center my-auto">
                <i class="fa-regular fa-home"></i>
            </a>
            <a href="#" class="text-center my-auto">
                <i class="fa-regular fa-message"></i>
            </a>
            <a href="#" class="text-center my-auto">
                <i class="fa-regular fa-bell"></i>
            </a>
            <a href="./others.html" class="text-center my-auto">
                <i class="fa-solid fa-ellipsis-vertical py-2 px-3 bg-cs-primary text-cs-black  rounded-lg"></i>
            </a>
        </div>
    </section>
    <!-- ========= end Footer ========= -->

</body>

</html>