<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="flex justify-between">
            <div class="px-4 py-3">
                <a href="./index.html">
                    <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
            <div class="px-4 py-3">
                <a href="#">
                    <i
                        class="fa-regular fa-file-exclamation text-cs-black px-2.5 rounded-full bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="pt-16 container px-4 space-y-6 pb-36">
        <!-- title -->
        <div>
            <h1 class="cs-font-headline2 tracking-tight text-cs-black">Schedule Maintance</h1>
        </div>
        <!-- end title -->

        <!-- Card -->
        <section class="space-y-3">

            <!-- Card out of date -->
            <div class="relative">
                <a href="./scheduleMaintance-list-detail.html">
                    <div class="bg-red-50 w-full relative border border-red-500 p-4 rounded-xl space-y-3">
                        <div class="flex justify-between">
                            <h1 class="font-caption text-[10px] text-cs-gray my-auto">FXS/PM/VI/2023/0001</h1>
                            <h1 class="font-caption text-[10px] text-cs-gray bg-white border rounded-md py-1 px-3">See
                                detail</h1>
                        </div>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-yellow-500 rounded-md text-white">
                                <i class="fa-solid fa-star my-auto"></i>
                                <h1 class="my-auto">Priority</h1>
                            </div>
                            <!-- complete -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-green-500 rounded-md text-white">
                                <h1 class="my-auto">Completed</h1>
                            </div>
                            <!-- out of date -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-pink-500 rounded-md text-white">
                                <h1 class="my-auto">Overdue</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-2">
                            <!-- asset -->
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <!-- end asset -->

                            <!-- assign to -->
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Assign to</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- end assign to -->

                            <!-- due date -->
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <!-- end due date -->

                            <!-- due date -->
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Start time</h1>
                                <h1 class="cs-font-body text-cs-black">10:00 AM</h1>
                            </div>
                            <!-- end due date -->




                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card out of date -->

            <!-- Card (complete & priority) -->
            <div class="relative">
                <a href="#">
                    <div class="bg-yellow-50 w-full relative border border-yellow-500 p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0001</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-yellow-500 rounded-md text-white">
                                <i class="fa-solid fa-star my-auto"></i>
                                <h1 class="my-auto">Priority</h1>
                            </div>
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-green-500 rounded-md text-white">
                                <h1 class="my-auto">Completed</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-white px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Assign to</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card (complete & priority) -->

            <!-- Card  (Unassign) -->
            <div class="relative">
                <a href="./scheduleMaintance-list-detailUnassign.html">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0002</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div
                                class="cs-font-overline flex px-3 space-x-1 py-1 border-purple-500 border rounded-md text-purple-500">
                                <h1 class="my-auto">Unassign</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">PM Electric</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (Unassign) -->

            <!-- Card  (start inspect) -->
            <div class="relative">
                <a href="./scheduleMaintance-list-detailStartInspect.html">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0002</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-purple-500 rounded-md text-white">
                                <h1 class="my-auto">Start Inspect</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (start inspect) -->

            <!-- Card  (end inspect) -->
            <div class="relative">
                <a href="#">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0001</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-blue-500 rounded-md text-white">
                                <h1 class="my-auto">End Inspect</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (end inspect) -->

            <!-- Card  (complete) -->
            <div class="relative">
                <a href="#">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0001</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-green-500 rounded-md text-white">
                                <h1 class="my-auto">Completed</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (complete) -->

            <!-- Card  (wait) -->
            <div class="relative">
                <a href="#">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0001</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-red-500 rounded-md text-white">
                                <h1 class="my-auto">Wait</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (wait) -->

            <!-- Card  (process) -->
            <div class="relative">
                <a href="#">
                    <div class="bg-white w-full relative border p-4 rounded-xl space-y-3">
                        <h1 class="font-caption text-[10px] text-cs-gray">FXS/PM/VI/2023/0001</h1>
                        <!-- tag -->
                        <div class="flex space-x-2">
                            <!-- priority -->
                            <div class="cs-font-overline flex px-3 space-x-1 py-1 bg-yellow-500 rounded-md text-white">
                                <h1 class="my-auto">Process</h1>
                            </div>
                        </div>
                        <!-- end tag -->

                        <!-- Title -->
                        <div>
                            <h1 class="cs-font-title text-cs-black">Daily Notif h 3-5 Juni 2023</h1>
                            <h1 class="cs-font-caption text-cs-gray">Asset / BM Operation</h1>
                        </div>
                        <!-- end Title -->

                        <div class="grid grid-cols-2 gap-3">
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Asset / Code</h1>
                                <h1 class="cs-font-body text-cs-black">Genset / 12345</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <h1 class="cs-font-body text-cs-black">5 Jun 2023</h1>
                            </div>
                            <div class="bg-slate-50 px-2 py-3 rounded-lg space-y-1">
                                <h1 class="cs-font-caption text-cs-gray">Due Date</h1>
                                <div class="flex">
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">w</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">B</h1>
                                    </div>
                                    <div class="h-6 w-6 rounded-full flex bg-blue-200 ring-white ring">
                                        <h1 class="cs-font-overline my-auto w-full text-center">+90</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flex cursor-pointer justify-center">
                                <h1
                                    class="my-auto text-center cs-font-buttonHover rounded-full px-4 text-white py-2 bg-yellow-500">
                                    See
                                    Detail</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end Card  (process) -->




        </section>
        <!-- end Card -->

    </section>
    <!-- ========= end Main ========= -->

    <!-- ========= FAB Filter ========= -->
    <div x-data="{ open: false }">
        <button class="fixed bottom-5 w-screen" @click="open = true">
            <div class="p-2 flex justify-center">
                <div class="flex bg-white border border-cs-primary text-cs-primary py-1 px-4 rounded-xl space-x-2">
                    <i class="fa-regular fa-filter-list my-auto"></i>
                    <h1 class="my-auto font-body text-sm ">Filter</h1>
                </div>
            </div>
        </button>
        <!-- Modal -->
        <div class="fixed h-screen w-screen bg-black/50 top-0 z-40" x-show="open" x-transition>

            <!-- close button -->
            <button class="absolute bottom-6  py-1 w-screen" @click="open = !open">
                <div class="flex justify-center">
                    <div class="flex bg-red-500 border border-red-800 text-white py-1 px-5 rounded-xl space-x-2">
                        <i class="fa-regular fa-xmark my-auto"></i>
                        <h1 class="my-auto font-body text-sm ">Close</h1>
                    </div>
                </div>
            </button>
            <!-- close button -->

            <!-- Main popup -->
            <div class="flex justify-center h-screen px-4">
                <div class="my-auto bg-white relative drop-shadow-md rounded-xl p-4 w-full">


                    <div class="py-2">
                        <h1 class="text-center cs-font-title text-cs-black uppercase">Select Filter</h1>
                    </div>

                    <div class="pt-4 space-y-3 overflow-y-scroll h-96">
                        <!-- Progress -->
                        <div class="space-y-4 border p-4 rounded-xl">
                            <!-- title -->
                            <h1 class="cs-font-title text-cs-black">Progress</h1>
                            <!-- Button -->
                            <div class="space-y-2">
                                <div class="grid grid-cols-3 gap-3">
                                    <div>
                                        <a href="#">
                                            <h1
                                                class="cs-font-body p-2 border bg-cs-primary text-cs-black text-center rounded-xl">
                                                All
                                            </h1>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <h1 class="cs-font-body p-2 border text-center rounded-xl">Wait</h1>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <h1 class="cs-font-body p-2 border text-center rounded-xl">Process</h1>
                                        </a>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-3">
                                    <div>
                                        <a href="#">
                                            <h1 class="cs-font-body p-2 border text-center rounded-xl">Complete</h1>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <h1 class="cs-font-body p-2 border text-center rounded-xl">Inspect</h1>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end Button -->
                        </div>
                        <!-- end Progress -->
                    </div>

                    <!-- Footer -->
                    <div class="border-t pt-4">
                        <button class="flex justify-center w-full">
                            <h1
                                class="py-2 px-6 rounded-xl bg-white border border-cs-primary text-cs-primary font-body text-sm">
                                Search Now</h1>
                        </button>
                    </div>
                    <!-- end Footer -->

                </div>
            </div>
            <!-- end Main popup -->

        </div>
        <!-- end Modal -->
    </div>
    <!-- ========= end FAB Filter ========= -->

</body>

</html>