<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="flex justify-between">
            <div class="px-4 py-3">
                <a href="./scheduleMaintance-list-detailStartInspect.html">
                    <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="container pb-24 pt-16">

        <!-- Progress Status -->
        <section class="px-4">

            <div class="border rounded-xl p-3">
                <div class="grid grid-cols-2 divide-x">
                    <div class="col-span-1 flex">
                        <div class="mx-auto my-auto space-y-2">
                            <div class="h-2 w-2 rounded-full mx-auto bg-red-500 ring-4 ring-red-300"></div>
                            <h1 class="text-center cs-font-caption text-cs-gray">Inspect Notes</h1>
                        </div>
                    </div>

                    <div class="col-span-1 flex">
                        <div class="mx-auto my-auto space-y-2">
                            <div class="h-2 w-2 rounded-full mx-auto bg-green-400 ring-4 ring-green-200"></div>
                            <h1 class="text-center cs-font-caption text-cs-gray">Inspect Rating</h1>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>
        <!-- end Progress Status -->

        <!-- card -->
        <section class="px-4 pt-3 space-y-4">

            <!-- card aji -->
            <div class="border rounded-xl">
                <div class="p-4">
                    <div class="flex justify-between">
                        <h1 class="cs-font-title">Aji Chan</h1>
                        <button>
                            <div><i class="fa-solid fa-caret-down py-1.5 px-2 rounded-full bg-slate-100"></i></div>
                        </button>
                    </div>
                    <div class="py-2 space-y-3">
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Overall</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Quality</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Accuracy</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Speed</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card aji -->

            <!-- card Yulia the powerpuff girl -->
            <div class="border rounded-xl">
                <div class="p-4">
                    <div class="flex justify-between">
                        <h1 class="cs-font-title">Yulia the powerpuff girl</h1>
                        <button>
                            <div><i class="fa-solid fa-caret-down py-1.5 px-2 rounded-full bg-slate-100"></i></div>
                        </button>
                    </div>
                    <div class="py-2 space-y-3">
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Overall</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Quality</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Accuracy</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-lg p-4 space-y-3">
                            <h1 class="text-center text-cs-gray cs-font-caption">Please rate the <span
                                    class="cs-font-title text-blue-500">Speed</span> of
                                my work</h1>
                            <div class="w-full flex">
                                <div class="mx-auto space-x-3">
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                    <i class="fa-regular fa-star text-3xl text-cs-gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card Yulia the powerpuff girl -->




        </section>
        <!-- end card -->

        <!-- Footer -->
        <section class="fixed bottom-4 w-full px-4">
            <div class="bg-white shadow rounded-2xl p-3 border">
                <div class="grid gap-3">
                    <a href="#" class="p-2 rounded-lg bg-cs-primary">
                        <h1 class="cs-font-buttonHover text-center text-white ">Submit</h1>
                    </a>
                </div>
            </div>
        </section>
        <!-- End Footer -->




    </section>
    <!-- ========= end Main ========= -->



</body>

</html>