<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

    <!-- ========= Header ========= -->
    <section class="fixed w-full z-40">
        <div class="px-4 py-3">
            <a href="./index.html">
                <i class="fa-solid fa-angle-left px-3 rounded-full text-cs-black bg-white drop-shadow-md py-2"></i>
            </a>
        </div>
    </section>
    <!-- ========= end Header ========= -->

    <!-- ========= Main ========= -->
    <section class="pt-16 container px-4 space-y-6 pb-36">
        <!-- title -->
        <div>
            <h1 class="cs-font-headline2 tracking-tight text-cs-black">Tenant Information</h1>
        </div>
        <!-- end title -->

        <section>
            <!-- profile picture tenant -->
            <div class="grid grid-cols-6 gap-3">
                <div class="col-span-1">
                    <img src="https://images.pexels.com/photos/17060790/pexels-photo-17060790/free-photo-of-fashion-people-woman-street.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
                        alt="" class="aspect-square object-cover rounded-full w-14">
                </div>
                <!-- tenant name -->
                <div class="col-span-5 my-auto">
                    <h1 class="cs-font-title text-cs-black">Blue Bottle Coffee</h1>
                    <h1 class="cs-font-caption text-cs-gray">FX Sudirman</h1>
                </div>
            </div>
            <!-- end profile picture tenant -->
        </section>

        <section>
            <div class="grid grid-cols-2 gap-3">
                <!-- start leasing -->
                <div class="bg-green-50 p-4 rounded-xl">
                    <i class="fa-duotone fa-hourglass-start text-green-500"></i>
                    <h1 class="cs-font-caption text-cs-gray">Start leasing</h1>
                    <h1 class="font-title text-sm text-cs-black">November 10, 2021</h1>
                </div>
                <!-- end leasing -->
                <div class="bg-red-50 p-4 rounded-xl">
                    <i class="fa-duotone fa-hourglass-end text-red-500"></i>
                    <h1 class="cs-font-caption text-cs-gray">End leasing</h1>
                    <h1 class="font-title text-sm text-cs-black">November 9, 2022</h1>
                </div>
            </div>
        </section>

        <section class="divide-y">
            <!-- mall location -->
            <div class="space-y-1 py-4">
                <h1 class="cs-font-caption text-cs-gray">Mall Location</h1>
                <h1 class="cs-font-body text-cs-black">FX Sudirman</h1>
            </div>
            <!-- Tenant Category -->
            <div class="space-y-1 py-4">
                <h1 class="cs-font-caption text-cs-gray">Tenant Category</h1>
                <h1 class="cs-font-body text-cs-black">Food & Beverage</h1>
            </div>
            <!-- Unit Location -->
            <div class="space-y-1 py-4">
                <h1 class="cs-font-caption text-cs-gray">Unit Location</h1>
                <h1 class="cs-font-body text-cs-black">P1#1, T1</h1>
            </div>
            <!-- Unit area size -->
            <div class="space-y-1 py-4">
                <h1 class="cs-font-caption text-cs-gray">Unit area size</h1>
                <h1 class="cs-font-body text-cs-black">12,89</h1>
            </div>
        </section>

    </section>
    <!-- ========= end Main ========= -->



</body>

</html>